[package]
name = "iceberg-catalog-bin"
resolver = "2"
version = "0.1.1"
edition = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }
license = { workspace = true }
description = """
The default binary of the iceberg-catalog project.
We encourage you to build your own binary with the features you need,
especially incorporating a custom AuthZ Handler.
"""

[[bin]]
name = "iceberg-catalog"
path = "src/main.rs"

[features]

[dependencies]
anyhow = { workspace = true }
async-nats = { workspace = true }
async-trait = { workspace = true }
axum = { workspace = true }
clap = { version = "^4.5", features = ["derive"] }
headers = { workspace = true }
http = { workspace = true }
iceberg-catalog = { path = "../iceberg-catalog", features = ["all"] }
reqwest = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
tower-http = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
uuid = { workspace = true }
