name: Examples Test

on:
  push:
    branches:
      - main
  pull_request:


env:
  CARGO_TERM_COLOR: always

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  docker:
    runs-on: ubuntu-24.04
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Docker info
        run: docker info

      - name: Build Docker image (amd64)
        run: |
          DOCKER_BUILDKIT=1 docker build -t localhost/iceberg-catalog-local:amd64 \
          -f docker/full.Dockerfile .
          #            --add-host=host.docker.internal:host-gateway \
          #            --build-arg DATABASE_URL=postgres://postgres:postgres@host.docker.internal:5432/postgres .
          docker save -o /tmp/iceberg-catalog-amd64.tar localhost/iceberg-catalog-local:amd64

      - name: Save Docker
        uses: actions/upload-artifact@v4
        with:
          name: iceberg-catalog-image
          path: /tmp/*.tar

  test-examples:
    needs: docker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Restore binary
        uses: actions/download-artifact@v4
        with:
          name: iceberg-catalog-image
          path: artifacts

      - name: Display structure of downloaded files
        run: ls -Rlh artifacts

      - name: Restore Docker image
        run: |
          docker load -i artifacts/iceberg-catalog-amd64.tar

      - name: Test Examples
        run: |
          cd examples &&
          sed -i 'sXquay.io/lakehouse/catalog:latest/Xlocalhost/iceberg-catalog-local:amd64Xg' docker-compose.yaml &&
          docker compose up -d &&
          # retry 10 times with 1 second sleep if server becomes healthy
            for i in {1..10}; do
                docker inspect --format='{{json .State.Health.Status}}' examples-server-1 | grep healthy && break || sleep 1;
            done
          # retry 10 times with 1 second sleep if initialproject exits with 0
            for i in {1..10}; do
                docker inspect --format='{{json .State.ExitCode}}' examples-initialproject-1 | grep 0 && break || sleep 1;
            done
      - name: Dump docker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v2